<!DOCTYPE html>
{% extends 'electroApp/base.html' %}
{% load static %}
{% load mathfilters %}


    {% block link_css%}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% endblock%}

    {% block title %} {% endblock %}
    {% block Product_nav %}


	<!--	{% include "electroApp/product_navBar.html" %} -->
        
    {% endblock %}


    {% block page_body %}
    
    <script>
        
    </script>
    <div id="cart_id" class="container-fluid" style="height: auto; margin-top: 62px; font-family: Roboto,Arial,sans-serif;">
        <div class="row" style="height: 100%; margin-top: 10px; padding: 15px 55px 50px 55px">
            <div class="col-xs-8" style=" margin-right: 10px; height: 100%;	box-shadow: 0 1px 3px 3px rgb(221, 218, 218);">
                <div class="row" style="padding: 10px 10px; border-bottom: 1px solid rgb(228, 225, 225);">
                    <div class="col-xs-6" >
                        <h4 style=" font-weight: 500;">My Cart ({{user.cart_set.count}})</h4>
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
                {% for cart in cart_items %}
                
                <div class="row" style="font-family: Roboto,Arial,sans-serif; border-bottom: 1px solid rgb(228, 225, 225); height: 150px;">
                    <div class="col-xs-2" style="height: 100%;">
                        <div style="height: 100%; width: 100%; padding: 5px 5px; overflow: hidden;">
                            <img src="{{cart.product.image.url}}" alt="" style="object-fit: contain; min-width: 100%; min-height: 100%;">
                        </div>
                    </div>
                    <div class="col-xs-6" style="padding: 20px 30px 20px 7px;">
                        <div >
                            <a href="" style="letter-spacing: 0px; font-size: 17px;color: #212121; line-height: 1; display: inline; text-decoration: none;">{{cart.product.title}}</a>
                        </div>
                        <span style="color: #878787; font-size: 15px; line-height: 40px;">Seller : {{cart.product.vendor}}</span>
                        <div>
                            <span style="font-size: 18px; font-weight: 500; color: #212121;">₹ {{cart.product.selling_price|mul:cart.quantity }}</span>
                            <del style="color: #878787; font-size: 14px; margin-left: 7px;">₹ {{cart.product.MRP|mul:cart.quantity}}</del> 
                            <span style="color: #388e3c; font-weight: 500; margin-left: 5px;">{{cart.product.discount}}% off</span>
                        </div>
                    </div>
                    <div class="col-xs-4" style="padding: 20px 7px 20px 10px;">
                        <div style="font-size: 14px; color: #212121; line-height: 1.4;">Delivery by Mon Sep 20 | <span style="color: #388e3c;">Free </span> ₹80</div>
                        <span style="font-size: 12px; color: #878787;">7 Days Replacement Policy</span>
                        <div class="" style="position: relative; margin-top: 30px;">
                            <div class="quantity_class" pid="{{cart.product.id}}" id="minus" style="cursor: pointer; line-height: 25px; text-align: center; height: 25px; width: 25px; border: 1px solid #878787; border-radius: 50%; display: inline-block;"><i class="fal fa-minus"></i></div>
                            <input id="quantity_input{{cart.id}}" style="margin: 0px 3px; width: 45px; height: 25px; outline: none;text-align: center;" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" value="{{cart.quantity}}">
                            <div class="quantity_class" pid="{{cart.product.id}}" id="plus" style="cursor: pointer; line-height: 25px; text-align: center; height: 25px; width: 25px; border: 1px solid #878787; border-radius: 50%; display: inline-block;"><i class="fal fa-plus"></i></div>
                            <a href="/remove_to_cart/{{cart.id}}"><span style="font-weight: 500; float: right; margin-right: 40px; font-size: 16px; cursor: pointer;">REMOVE</span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <script>
                    $(document).ready(function() {

                    $('.quantity_class').click(function(){
                        var x = document.getElementById("snackbar")
                        x.classList.remove("show");
                        
                        function sleep (time) {
                            return new Promise((resolve) => setTimeout(resolve, time));
                            }

                        
                        var product_id = $(this).attr('pid')
                        var PM = $(this).attr('id')
                        var ele = this.parentNode.children[1]
                        console.log(product_id,PM)
                        $.ajax({
                            type: 'GET',
                            url: "/Plus_minus_quantity",
                            data: {
                                'product_id':product_id,
                                'PM': PM
                            },
                            beforeSend:function(){
                                $("#Loader").show();
                            },
                            success: function(response) {
                                sleep(500).then(() => {
							        $("#Loader").hide();
                                    ele.value = response.quantity
                                    x.classList.add("show");
                                    x.innerHTML = "<i class='fa fa-check-circle'></i>  You've changed " + "'"+ response.cart 
                                                +"'" + " QUANTITY to " + response.quantity ;
                                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
                                    setTimeout(() => {location.reload()}, 5000);
                                })
                               /* location.reload()
                                */
                            }
                        });
                        });
                    });

                </script>
                
                <div class="row" style="height: 80px;">
                    <a href="{% url 'checkout' %}" style="text-decoration: none; color: #212121; font-weight: 500; margin-top: 20px; margin-right: 40px; border: none; outline: none; background-color: rgb(233, 136, 9); height: 40px; padding: 10px 15px; float: right;">Proceed to Buy ({{user.cart_set.count}} item)</a>
                </div>
            </div>
            <div style="height: 100%; width: 400px; float: right;">
                <div class="" style="padding: 0px 0px 10px 0px; height: 100%; width: 100%;	box-shadow: 0 1px 3px 3px rgb(221, 218, 218);">
                    <div class="" style="padding: 5px 25px; border-bottom: 1px solid rgb(228, 225, 225);">
                        <h4 style="font-size: 16px; font-family: Roboto,Arial,sans-serif; font-weight: 500; color: #686666;">PRICE DETAILS</h4>
                    </div>
                    <div style="font-size: 17px; margin: 2px 15px; padding: 13px 5px 30px; border-bottom: 1px dotted #9e9e9e;">
                        <div style="padding: 10px 15px;" >
                            <p style="float: left; font-family: Roboto,Arial,sans-serif;">Price ({{user.cart_set.count}})</p>
                            <span style="float: right;">₹ {{total_MRP|stringformat:".2f"}}</span>
                        </div>
                        <div style="padding: 10px 15px; margin-top: 20px;" >
                            <p style="font-family: Roboto,Arial,sans-serif; float: left;">Discount</p>
                            <span style="color: #388e3c; float: right;">- ₹ {{discount|stringformat:".2f"}}</span>
                        </div>
                        <div style="padding: 10px 15px; margin-top: 20px;">
                            <p style="font-family: Roboto,Arial,sans-serif; float: left;">Delivery Charges</p>
                            
                            {% if delivery_charge == 0 %}
                                <span style="color: #388e3c; float: right;">Free</span>
                            {% else %}
                                <span style="color: #388e3c; float: right;">+ ₹ {{delivery_charge}}</span>                     
                            {% endif %}      
                        </div>

                    </div>
                    <div>
                        <div style="padding: 10px 15px 40px; margin-top: 10px; font-size: 18px; font-weight: 600;">
                            <p style="float: left;">Total Amount</p>
                            <span style="float: right;">₹ {{total_amount|stringformat:".2f"}}</span>   
                        </div>

                    </div>
                    <div style="padding: 30px 15px; margin-top: 30px; align-items: left; justify-content: left; border-top: 1px solid rgb(228, 225, 225); ">
                        <form action="" style="display: flex;">
                            <input type="text" style="outline: none; padding: 17px 3px; height: 25px;border: 1px solid #c5c1c1; color: #495057;" placeholder="Enter your coupon code">
                            <input type="submit" value="Apply" style="margin-left: -3px; color: white; padding: 8px 13px; background-color: #212121; border: none;">
                        </form>
                        
                    </div>


                </div>
                <div style="padding: 35px 30px; ">
                    <i class="fas fa-shield-check" style="font-size: 19px; margin-right: 7px; color: #525050;"></i> 
                    <span style="font-size: 14px; font-weight: 500; color: #878787;">Safe and Secure Payments.Easy returns.100% Authentic products.</span>

                </div>
            </div>

        </div>

    </div>
        
    {% endblock %}
