<!DOCTYPE html>
{% extends 'electroApp/base.html' %}
{% load static %}


    {% block link_css%} 
        <link rel="stylesheet" href="{% static 'css/user.css' %}">

    {% endblock%}

    {% block title %} {% endblock %}


    {% block page_body %}
    <script>
        function displayButton(btn){
            $('.btn_add').css('display',"none")
            document.getElementById(btn).style.display = "block"

        }
        function hideaddress(row_id){
            $('#address_row').css('display',"none")
            $('#payment_id').css('display',"block")
            $('#address_head_id').css('opacity',"0.5")
            $('#icon_id').removeClass('fa-arrow-circle-right')
            $('#icon_id').addClass('fa-check-double')
        }

    </script>
    <script>
        window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || 
                                ( typeof window.performance != "undefined" && 
                                    window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
            // Handle page restore.
            window.location.reload();
        }
        });
      </script>

    <div id="cart_id" class="container-fluid" style="height: auto; margin-top: 62px; font-family: Roboto,Arial,sans-serif;">
        <div class="row" style="height: 100%; margin-top: 10px; padding: 15px 55px 50px 55px">
            <div class="col-xs-8" style=" margin-right: 10px; height: 100%;	box-shadow: 0 1px 3px 3px rgb(221, 218, 218);">
                <!-- Address Form -->
                <form action="{% url 'paymentDone' %}" method="POST">
                    {% csrf_token %}
                <div class="row" id="address_head_id" style="padding: 10px 20px; border-bottom: 1px solid rgb(228, 225, 225); background-color: #48ad50;">
                    <h4 style="color: white; text-transform: uppercase; font-size: 15px;">
                        <i id="icon_id" class="fal fa-arrow-circle-right" style="margin-right: 10px; font-size: 18px;"></i>Select a delivery address
                    </h4>
                   
                </div>
                <div id="address_row" >
                <div class="row"style="font-family: Roboto,Arial,sans-serif; ">
                    <div class="col-xs-12" style="padding: 20px 30px 20px 7px;">
                            {% for add in address %}
                                <div class="row" style="line-height: 17px; margin: 10px 20px; padding: 5px 5px 15px; border-bottom: 1px solid rgb(228, 225, 225);">
                                    <div class="col" style="width: 5%; height: 100%; float: left;">
                                        <input type="radio" value="{{add.id}}" name="address" onclick="displayButton('btn{{add.id}}')">
                                    </div>
                                    <div class="col" style="width: 95%; float: right;">
                                        <span style="margin-right: 13px; color: black; font-weight: 500;" >{{add.name|title}}</span>
                                        <span style="color: #878787; font-size: 13px; margin-right: 7px;">HOME</span>
                                        <span style="color: black; font-weight: 500;">{{add.alter_phone}}</span><br><br>
                                        <p> {{add.locality}}, {{add.city}}, {{add.state}} - <span style="color: black; font-weight: 500;">{{add.zipcode}}</span> </p>
                                        <input id="btn{{add.id}}" class="btn_add" type="button" value="DELIVER HERE" onclick="hideaddress('address_row')" style="margin-top: 5px; border: none; color: white; font-weight: 500; background-color: chocolate; padding: 13px 35px; display: none; ">
                                    </div>

                                </div>
                            {% endfor %}                        
                    </div>
                    
                </div>
                <div class="add_new_address" style="margin: 20px 10px 30px;">
                    <div class="add_address_inner">
                      <i class="far fa-plus" style="margin-right: 10px; font-size: 19px;"></i>
                      ADD A NEW ADDRESS
                    </div>
                </div>
                </div>

                <!-- payment form -->
                <div class="row" style="margin-top: 15px; padding: 10px 20px; border-bottom: 1px solid rgb(228, 225, 225); background-color: #48ad50;">
                    <h4 style="color: white; text-transform: uppercase; font-size: 15px;">
                        <i class="fal fa-arrow-circle-right" style="margin-right: 10px; font-size: 18px;"></i>Payment options
                    </h4>
                   
                </div>
                <div class="row" id="payment_id" style="font-family: Roboto,Arial,sans-serif; display: none;">
                    <div class="col-xs-12" style="padding: 20px 30px 20px 7px;">
                                <div class="row" style="line-height: 17px; margin: 10px 20px; padding: 5px 5px 15px; border-bottom: 1px solid rgb(228, 225, 225);">
                                    <div class="col" style="width: 5%; height: 100%; float: left;">
                                        <input type="radio" value="upi" name="payment" onclick="displayButton('btn_upi')">
                                    </div>
                                    <div class="col" style="width: 95%; float: right;">
                                        <span style="margin-right: 13px; color: black; font-weight: 500;" >UPI</span>
                                        <input id="btn_upi" class="btn_add" type="button" value="Confirm Order" style="margin-top: 5px; border: none; color: white; font-weight: 500; background-color: chocolate; padding: 13px 35px; display: none; ">

                                    </div>

                                </div>
                                <div class="row" style="line-height: 17px; margin: 10px 20px; padding: 5px 5px 15px; border-bottom: 1px solid rgb(228, 225, 225);">
                                    <div class="col" style="width: 5%; height: 100%; float: left;">
                                        <input type="radio" value="atm" name="payment" onclick="displayButton('btn_atm')">
                                    </div>
                                    <div class="col" style="width: 95%; float: right;">
                                        <span style="margin-right: 13px; color: black; font-weight: 500;" >Credit / Debit / ATM Card</span>
                                        <input id="btn_atm" class="btn_add" type="button" value="Confirm Order" style="margin-top: 5px; border: none; color: white; font-weight: 500; background-color: chocolate; padding: 13px 35px; display: none; ">

                                    </div>

                                </div>
                                <div class="row" style="line-height: 17px; margin: 10px 20px; padding: 5px 5px 15px; border-bottom: 1px solid rgb(228, 225, 225);">
                                    <div class="col" style="width: 5%; height: 100%; float: left;">
                                        <input type="radio" value="Nbanking" name="payment" onclick="displayButton('btn_Nbanking')">
                                    </div>
                                    <div class="col" style="width: 95%; float: right;">
                                        <span style="margin-right: 13px; color: black; font-weight: 500;" >Net Banking</span>
                                        <input id="btn_Nbanking" class="btn_add" type="button" value="Confirm Order" style="margin-top: 5px; border: none; color: white; font-weight: 500; background-color: chocolate; padding: 13px 35px; display: none; ">

                                    </div>

                                </div>
                                <div class="row" style="line-height: 17px; margin: 10px 20px; padding: 5px 5px 15px; border-bottom: 1px solid rgb(228, 225, 225);">
                                    <div class="col" style="width: 5%; height: 100%; float: left;">
                                        <input type="radio" value="cod" name="payment" onclick="displayButton('btn_cod')">
                                    </div>
                                    <div class="col" style="width: 95%; float: right;">
                                        <span style="margin-right: 13px; color: black; font-weight: 500;" >Cash on delivery</span>
                                        <input id="btn_cod" class="btn_add" type="submit" value="Confirm Order" style="margin-top: 5px; border: none; color: white; font-weight: 500; background-color: chocolate; padding: 13px 35px; display: none; ">

                                    </div>

                                </div>
                    </div>
                </div>
                </form>
            </div>
            <div style="height: 100%; width: 400px; float: right;">
                <div class="" style="padding: 0px 0px 10px 0px; height: 100%; width: 100%;	box-shadow: 0 1px 3px 3px rgb(221, 218, 218);">
                    <div class="" style="padding: 5px 25px; border-bottom: 1px solid rgb(228, 225, 225);">
                        <h4 style="font-size: 16px; font-family: Roboto,Arial,sans-serif; font-weight: 500; color: #686666;">PRICE DETAILS</h4>
                    </div>
                    <div style="font-size: 17px; margin: 2px 15px; padding: 13px 5px 30px; border-bottom: 1px dotted #9e9e9e;">
                        <div style="padding: 10px 15px;" >
                            <p style="float: left; font-family: Roboto,Arial,sans-serif;">Price ({{user.cart_set.count}})</p>
                            <span style="float: right;">₹ {{total_MRP|stringformat:".2f"}}</span>
                        </div>
                        <div style="padding: 10px 15px; margin-top: 20px;" >
                            <p style="font-family: Roboto,Arial,sans-serif; float: left;">Discount</p>
                            <span style="color: #388e3c; float: right;">- ₹ {{discount|stringformat:".2f"}}</span>
                        </div>
                        <div style="padding: 10px 15px; margin-top: 20px;">
                            <p style="font-family: Roboto,Arial,sans-serif; float: left;">Delivery Charges</p>
                            
                            {% if delivery_charge == 0 %}
                                <span style="color: #388e3c; float: right;">Free</span>
                            {% else %}
                                <span style="color: #388e3c; float: right;">+ ₹ {{delivery_charge}}</span>                     
                            {% endif %}      
                        </div>

                    </div>
                    <div>
                        <div style="padding: 10px 15px 40px; margin-top: 10px; font-size: 18px; font-weight: 600;">
                            <p style="float: left;">Total Amount</p>
                            <span style="float: right;">₹ {{total_amount|stringformat:".2f"}}</span>   
                        </div>

                    </div>
                </div>
                <div style="padding: 35px 30px; ">
                    <i class="fas fa-shield-check" style="font-size: 19px; margin-right: 7px; color: #525050;"></i> 
                    <span style="font-size: 14px; font-weight: 500; color: #878787;">Safe and Secure Payments.Easy returns.100% Authentic products.</span>

                </div>
            </div>

        </div>

    </div>
        
            
    {% endblock %}
