<!DOCTYPE html>
{% extends 'electroApp/base.html' %}
{% load static %}

    {% block link_css%} 
        <link rel="stylesheet" href="{% static 'css/product.css' %}">
    {% endblock %}

    {% block title %} {% endblock %}
	{% block Product_nav %}


		{% include "electroApp/product_navBar.html" %}
        
    {% endblock %}


    {% block page_body %}
        <!-- top Products -->
	<script>
			 $(document).ready(function () {
				$('.filter_title').click(function(){
					$(this).siblings('ul').toggle()
					$("i", this).toggleClass("fas fa-chevron-up fas fa-chevron-down");
				});

				/* for search barand */
				$('#product_input').on('keypress keyup', function(){

					var value = $(this).val().toLowerCase();
					if (value != '') {

					$('.list > li').each(function () {
						if ($(this).text().toLowerCase().indexOf(value) > -1) {
							$(this).removeClass('displayNone');  
							} else {
							$(this).addClass('displayNone');
							}
					});
					} else {
					$('.list > li').removeClass('displayNone');
					}
				});
			});
	</script>
	<script>
		$(document).ready(function() {
			// Product Filter Start
			$(".filter-checkbox").on('click',function(){
				var filterObj={};
				function sleep (time) {
					return new Promise((resolve) => setTimeout(resolve, time));
					}

				//var minPrice = $('#maxPrice').attr('min');
				//var maxPrice = $('#maxPrice').val();
				//filterObj.minPrice = minPrice;
				//filterObj.maxPrice = maxPrice;

				$(".filter-checkbox").each(function(index,ele){
					var filterVal=$(this).val();
					var filterKey=$(this).attr("data-filter");
					console.log(filterKey,filterVal)

					filterObj[filterKey]=Array.from(document.querySelectorAll('input[data-filter='+filterKey+']:checked')
						).map(function(el){
			 			return el.value;
					});
				});
				// Run Ajax
				$.ajax({
					url: "{% url 'mobile' 'brand' %}",
					data: filterObj,
					dataType: 'json',
					beforeSend:function(){
						$("#Loader").show();
					},
					success:function(res){
						//console.log(res);
						sleep(1000).then(() => {
							$("#Loader").hide();
							// Do something after the sleep!

							$("#Products_filters").html(res.mobiles);
					});
					}
				});
			});
		});
	</script>
	
	<style>
		#ajaxLoader{
			position: fixed;
			left: 0;
			top: 60px;
			z-index: 999;
			width: 100%;
			height: 100%;
			overflow: visible;
			background: rgba(100, 98, 98,0.5) url('//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif') no-repeat center center;
		}
	</style>
	
	<div class="ads-grid">
		<div class="container-fluid ">
			<div style="height: 70px; background-color: aqua;">

			</div>
			<div class="row product_main_row" style="margin-top: 8px;">
                <!-- product left -->
				<div class="filter_column">
                    <h3 >Filters</h3>
					<div class="side-bar ">
						<div class="search-product">
							<div class="filter_title">
								<span >Search Brand..</span>
								<i class="fas fa-chevron-up"></i>
							</div>
							<form action="{% url 'mobile' None %}" method="post" id="Product_search">
								{% csrf_token %}
								<input type="search" placeholder="Product name..." name="search_brand" required="" id="product_input">
								<input type="submit" value=" &#xf054" class="fas fa-chevron-right">
							</form>
							<ul class="list" >
								{% for  brand in brands %}
									<li>
										<input type="checkbox" name="{{brand.title}}" class="filter-checkbox" data-filter="brand" value="{{brand.title}}">
										<span class="span">{{brand.title}}</span>
									</li>
								{% endfor %}
							</ul>
						</div>
						<!-- price -->
						<div class="">
							<div class="filter_title" >
								<span >Price</span>
								<i class="fas fa-chevron-down"></i>
							</div>
							<ul class="w3l-range">
								<li>
									<input type="checkbox" class="checked">
									<span class="span">1500 or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">5000 or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">10000 or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">15000 or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">20000 or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">30000 or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">40000 or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">50000 or More</span>
								</li>
							</ul>
						</div>
						<!-- //price -->
						<!-- discounts -->
						<div class="">
							<div class="filter_title" >
								<span >Discount</span>
								<i class="fas fa-chevron-down"></i>
							</div>
							<ul class="w3l-range">
								<li>
									<input type="checkbox" class="checked">
									<span class="span">5% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">10% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">20% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">30% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">50% or More</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">60% or More</span>
								</li>
							</ul>
							
							
						</div>
						<!-- //discounts -->
						<!-- reviews -->
						<div class="">
							<div class="filter_title" >
								<span >Customer Review</span>
								<i class="fas fa-chevron-down"></i>
							</div>
							
							<ul class="w3l-range">
								<li>
									<a href="#">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<span>5.0</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<span>4.0</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half"></i>
										<span>3.5</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<span>3.0</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half"></i>
										<span>2.5</span>
									</a>
								</li>
							</ul>
						</div>
						<!-- //reviews -->
						
						<!-- delivery -->
						<div class="">
							<div class="filter_title" >
								<span >Cash On Delivery</span>
								<i class="fas fa-chevron-down"></i>
							</div>
							<ul class="w3l-range">
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Eligible for Cash On Delivery</span>
								</li>
							</ul>
						</div>
						<!-- //delivery -->
                        <!-- arrivals -->
						<div class="">
							<div class="filter_title" >
								<span >New Arrivals</span>
								<i class="fas fa-chevron-down"></i>
							</div>
							<ul class="w3l-range">
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Last 30 days</span>
								</li>
								<li>
									<input type="checkbox" class="checked">
									<span class="span">Last 90 days</span>
								</li>
							</ul>
						</div>
						<!-- //arrivals -->
					</div>
                </div>
                <!-- //product left -->

                <!-- product right -->
				<script>
					$(document).ready(function() {

					$('#brand').slick({
					dots: false,
					loop: true,
					autoplay: false,
					arrows: false,
					slidesToShow: 5,
					infinite: true,
					swipeToSlide: true,
					slidesToScroll: 10,
						responsive: [
							{
							breakpoint: 1024,
							settings: {
							slidesToShow: 5
							}
							},
						{
						breakpoint: 800,
						settings: {
							slidesToShow: 4
						}
						},
						{
						breakpoint: 600,
						settings: {
							slidesToShow: 3
						}
						},
						
						{
						breakpoint: 450,
						settings: {
							slidesToShow: 3
						}
						}
					]   
					});
				});
				</script>
				<div class="Product_column_main">
						<div class="side-bar">
							<div class="row" id="brand" style="box-shadow: 0px 2px 4px 4px rgba(14, 30, 37, 0.12); margin: 20px 0px; padding: 10px 20px;">
								{% for  brand in brands %}
								<div class="col" style="text-align: center; display: inline-block; width: 15%; margin: 0 15px;">
									<a href="" style="text-decoration: none;">
										<div style="border: 2px solid black; height: 100px; width: 150px; overflow: hidden; object-fit: cover;">
											<img src="{{brand.image.url}}" alt="" style="min-height: 100%; max-height: 100%; min-width: 100%;">
										</div>
										<div style="width: 150px; padding: 20px 0px; font-size: 15px; cursor: pointer; font-weight: 500; font-family: Roboto,Arial,sans-serif;">Shop Now</div>
									</a>
								</div>
								{% endfor %}
							</div>
							
							<div class="Product_row" id="Products_filters">
								
								{% for mobile in mobiles%}
								<div class="Product_column">
									<div class="Product_column_inner">
										<a href="{% url 'Product_Detail' mobile.id %}" style="text-decoration: none;">
											<div class="men-Product-item text-center">
												<img src="{{mobile.image.url}}" alt="">
											</div>
										</a>
			
										<div class="product_item-info text-center border-top">
												<h4 style="color: #878787; cursor: text;font-size: 14px; font-weight: 500; font-family: Roboto,Arial,sans-serif;">
													{{mobile.brand}}
												</h4>
												<h4 class="" style="margin-top: -3px; font-size: 17px;">
													<a href="{% url 'Product_Detail' mobile.id %}">{{mobile.title}}</a>
												</h4>
												<div class="product-price_info">
													<span class="item_price">₹ {{mobile.selling_price}}</span>
													<del>₹ {{mobile.MRP}}</del>
													<span style="font-size: 13px; color: #388e3c; font-weight: 600;">{{mobile.discount}}% off</span>
												</div>
										</div>    
									</div>
								</div>
								{% endfor %}
							</div>
						</div>								
				</div>
                <!-- //product right -->
			</div>
		</div>
	</div>
	
	<!-- //top products -->

            
    {% endblock %}
