<!DOCTYPE html>
{% extends 'electroApp/base.html' %}
{% load mathfilters %}


    {% block link_css%}
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/user.css' %}">
    {% endblock%}

    {% block title %} {% endblock %}
    {% block Product_nav %}


		  {% include "electroApp/product_navBar.html" %}
        
    {% endblock %}


    {% block page_body %}
    <script>
      $(document).ready(function(){
        var x = document.getElementById("snackbar")
        x.className = "show";
        x.innerHTML = "<i class='fa fa-check-circle'></i>  Your Order is Placed Successfully "
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);

    
    });

    </script> 
      <div class="container-fluid">
        <div class="row">
          <div class="User_left_column">
            <div class="Profile_header">
              <div class="profile-picture big-profile-picture" style="display: inline-block;">
                <img width="150px" alt="Anne Hathaway picture" src="http://upload.wikimedia.org/wikipedia/commons/e/e1/Anne_Hathaway_Face.jpg" >
              </div>
              <div class="profile_icon">
                <ul>
                  <li>
                    <a href=""><i class="fal fa-bell"></i> <span style="background-color: rgb(233, 9, 9);">5</span></a>
                  </li>
                  <li>
                    <a href=""><i class="fal fa-envelope-open"></i> <span class="bg-primary">2</span></a>
                  </li>
                  <li>
                    <a href=""><i class="fal fa-heart"></i></a>
                  </li>
                </ul>                
              </div>
            </div> 
            <div class="User_left_body">
              <ul>
                <li><a href="">
                  <i class="fas fa-sort-amount-up" ></i> My Order </a> <i class="fal fa-long-arrow-alt-right right_arrow" style="	color: rgb(30, 81, 210);"></i>
                </li>
                <li><a href="{% url 'profile' user.id %}" >
                  <i class="fas fa-user-alt"></i> My Profile</a><i class="fal fa-long-arrow-alt-right right_arrow" style="color: rgb(30, 81, 210);"></i>
                </li>
                <li><a href="{% url 'password_change' %}">
                  <i class="fas fa-key"></i>Change Password</a><i class="fal fa-long-arrow-alt-right right_arrow" style="color: rgb(30, 81, 210);"></i>
                </li>
                <li><a href="{% url 'customer_address' %}">
                  <i class="far fa-address-card"></i>Manage Address</a><i class="fal fa-long-arrow-alt-right right_arrow" style="color: rgb(30, 81, 210);"></i>
                </li>
                <li><a href="">
                  <i class="fas fa-money-check-alt"> </i> Payments</a><i class="fal fa-long-arrow-alt-right right_arrow" style="color: rgb(30, 81, 210);"></i>
                </li>
                <li><a href="">
                  <i class="far fa-sign-out"></i> Logout</a><i class="fal fa-long-arrow-alt-right right_arrow" style="color: rgb(30, 81, 210);"></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="" style="width: 77%; height: 100%; float: right; padding: 20px 5px; margin: 7px 5px;">
            <div class="row" style="padding: 5px 50px; height: 65px; display: none;" id="sucess_profile_div">
              <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible show" role="alert" style="height: 55px;">
                  <span class="badge badge-pill badge-success" style="color: #fff; background: #28a745;">
                    Success</span> <span id="sucess_profile"> </span>
                  <button type="button" class="" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
              </div>
            </div>
            <div style="padding: 5px 50px; font-family: Roboto,Arial,sans-serif;">
                <h3 class="text-center" style="margin-bottom: 35px; font-family: italic;">Your Orders</h3>
                
                {% for or in order %}
                                        
                <div class="row" style="margin-top: 20px; height: 110px; overflow: hidden; border: 1px solid #dbdbdb;">
                    <div class="col-lg-2" style="padding: 13px 30px; height: 100%; overflow: hidden;">
                          <img src="{{or.product.image.url}}" alt="" style="max-height: 100%;">
                    </div>

                    <div class="col-lg-4" style="padding: 13px 0px; height: 100%; overflow: hidden;">
                        <span style="font-size: 15px; font-weight: 500; color: #212121;">₹ {{or.product.title}}</span><br>
                        <span style="padding: 3px 0px;">Seller : {{or.product.vendor}}</span>
                        <p style="padding: 3px 0px;">Quantity : {{or.quantity}}</p>

                    </div>
                    <div class="col-lg-2" style="padding: 13px 30px; height: 100%; overflow: hidden;">
                        <span style="font-size: 15px; font-weight: 500; color: #212121;">₹ {{or.this_selling_price|mul:or.quantity }}</span>

                    </div>
                    <div class="col-lg-4" style="padding: 13px 10px; height: 100%; overflow: hidden;">
                        {% if or.status == 'Pending' %}
                            <i class="far fa-dot-circle" style="color: #e96556;"></i>
                        {% else %}
                            <i class="far fa-dot-circle" style="color: #28a745;"></i>
                        {% endif %}
                        <span style="font-size: 15px; font-weight: 400; color: #212121;">{{or.status}} on {{or.order_date}}</span><br>
                     

                    </div>

                </div>
                {% endfor %}

              
            </div>
          </div>
        </div>
      </div>
  
    {% endblock %}
