<!DOCTYPE html>
{% extends 'electroApp/base.html' %}
{% load mathfilters %}


    {% block link_css%} 
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/detail.css' %}">

    {% endblock%}

    {% block title %} {% endblock %}
    {% block Product_nav %}


		{% include "electroApp/product_navBar.html" %}
        
    {% endblock %}


    {% block page_body %}
    <script>

        function change_image(side_img, main_img){
            var side_src = side_img.src;
            main_img.src = side_src;
            $('.image_border').css('borderColor', 'white');
            side_img.parentElement.style.borderColor = 'rgb(255, 174, 0)';
        }
        

    </script>
    <script>
        $(document).ready(function() {

          /*  $('.slideshow-thumbnails').hover(function() { changeSlide($(this)); }); */

                $('#slideshow-items-container').mousemove(function(e) {
                    var x = e.clientX; var y = e.clientY;
                    
                    var x = e.clientX; var y = e.clientY;

                    var imgx1 = $('.slideshow-items.active').offset().left;
                    var imgx2 = $('.slideshow-items.active').outerWidth() + imgx1;
                    var imgy1 = $('.slideshow-items.active').offset().top;
                    var imgy2 = $('.slideshow-items.active').outerHeight() + imgy1;

                    if ( x > imgx1 && x < imgx2 && y > imgy1 && y < imgy2 ) {
                        $('#lens').show(); 
                        $('#result').show();
                        imageZoom( $('.slideshow-items.active'), $('#result'), $('#lens') );
                    } 
                    else {
                        $('#lens').hide();
                         $('#result').hide();
                    }

                });

            });

            function imageZoom( img, result, lens ) {

            result.width( img.innerWidth() ); result.height( img.innerHeight() );
            lens.width( img.innerWidth() / 2 ); lens.height( img.innerHeight() / 2 );

            result.offset({ top: img.offset().top, left: img.offset().left + img.outerWidth() + 10 });

            var cx = img.innerWidth() / lens.innerWidth(); var cy = img.innerHeight() / lens.innerHeight();

            result.css('backgroundImage', 'url(' + img.attr('src') + ')');
            result.css('backgroundSize', img.width() * cx + 'px ' + img.height() * cy + 'px');

            lens.mousemove(function(e) { moveLens(e); });
            img.mousemove(function(e) { moveLens(e); });
            lens.on('touchmove', function() { moveLens(); })
            img.on('touchmove', function() { moveLens(); })

            function moveLens(e) {
            var x = e.clientX - lens.outerWidth() / 2;
            var y = e.clientY - lens.outerHeight() / 2;
            if ( x > img.outerWidth() + img.offset().left - lens.outerWidth() ) { x = img.outerWidth() + img.offset().left - lens.outerWidth(); }
            if ( x < img.offset().left ) { x = img.offset().left; }
            if ( y > img.outerHeight() + img.offset().top - lens.outerHeight() ) { y = img.outerHeight() + img.offset().top - lens.outerHeight(); }
            if ( y < img.offset().top ) { y = img.offset().top; }
            lens.offset({ top: y, left: x });
            result.css('backgroundPosition', '-' + ( x - img.offset().left ) * cx  + 'px -' + ( y - img.offset().top ) * cy + 'px');
            }
            }
/*
            function changeSlide(elm) {
            $('.slideshow-items').removeClass('active');
            $('.slideshow-items').eq( elm.index() ).addClass('active');
            $('.slideshow-thumbnails').removeClass('active');
            $('.slideshow-thumbnails').eq( elm.index() ).addClass('active');
            } */

    </script>
    <div class="breadcrumb" role="navigation" aria-label="Breadcrumbs">
        <div class="_cont">
            <ol>
                <li><a title="Back to the frontpage">Home</a></li>
                <li><a title="">Mobile</a></li>
                <li>{{phone.title}}</li>
            </ol>
        </div>
    </div>
    <section aria-label="Main content" role="main" class="product-detail">
        <div class="single_product">
            <div class="container-fluid" style="background-color: white; padding: 20px 20px;">
                <div class="row" >
                    <div id='lens'></div>
                    <div id='result'></div>
                    <div class="col-sm-1">
                        <ul class="image_list ">
                            {% for img in phone.item.all %}
                            <li data-image="{{img.images.url}}" class="image_border"><img id="side{{img.id}}" class="slideshow-thumbnails" src="{{img.images.url}}" alt="" onmouseover="change_image(this,main_image)"></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-4 " style="padding: 10px 5px;" >
                        <div class="image_selected" id="slideshow-items-container">
                            <img id="main_image" src="{{phone.image.url}}" alt="" class='slideshow-items active' >
                            <div class="product_fav"><i class="fas fa-heart"></i></div>
                        </div>
                        <div class="add_cart_single_product" >
                            <div style="width: 50%;">
                                <form action="{% url 'add_to_cart' %}" method="POST" id="add_item_cart">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="1">
                                    <input type="hidden" name="product_id" value="{{phone.id}}">
                                    <input type="hidden" name="Color" value="yellow">
                                    <input type="hidden" name="Ram" value="8GB">
                                    <button type="submit" class="btn-primary add-button"><i class="far fa-shopping-cart" style="margin-right: 7px;"></i> Add to Cart</button> 
                                </form>
                            </div>
                            <div style="width: 50%;">
                                <form action="">
                                    <button  class="buy-button"><i class="fa fa-bolt" aria-hidden="true" ></i> Buy Now</button>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 order-3 example">
                        <div class="product_description" >
                            <div class="product_name">{{phone.title}}</div>
                            <div class="product-rating">
                                <span class="badge" style="background-color: #388e3c;"><i class="fa fa-star"></i> 4.5 Star</span> 
                                <span class="rating-review">35 Ratings & 45 Reviews</span>
                            </div>
                            <div> 
                                <span class="product_price">₹ {{phone.selling_price}}</span> 
                                <del style='color:rgb(128, 125, 125); font-size: 18px; margin-left: 5px;'>₹ {{phone.MRP}}</del>
                            </div>
                            <div> <span class="product_saved">You Saved:</span> <span style='color:black'>₹ {{phone.MRP|sub:phone.selling_price}}<span> </div>
                            <hr class="singleline">
                            <div class="Storage_Option">
                                <div class="row storage_button" style="margin-top: 15px;">
                                    <div class="col-xs-12" style="margin-left: 15px;"> 
                                        <span class="product_options">Size Name : </span><br> 
                                        <button class="">4GB RAM / 128GB Storage</button>
                                        <button class="">6GB RAM / 128GB Storage</button> 
                                        <button class="">8GB RAM / 256GB Storage</button> 

                                    </div>
                                </div>
                                <div class="row" style="margin-top: 15px;">
                                    <div class="col-xs-4" style=" margin-left: 15px;">
                                        <span class="product_options">Color :</span><br> 
                                        <button class="">red</button> 
                                        <button class="">yellow</button>
                                    </div>
                                   <!-- <div class="col-xs-4" style="margin-left: 5px;">
                                        <div class="product_quantity">
                                            <span>Qty : </span> 
                                            <input id="quantity_input" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" value="1">
                                            <div class="quantity_buttons">
                                                <div id="quantity_inc_button" class="quantity_inc quantity_control" onclick="quantity_inc()"><i class="fas fa-chevron-up"></i></div>
                                                <div id="quantity_dec_button" class="quantity_dec quantity_control" onclick="quantity_dec()"><i class="fas fa-chevron-down"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </div>
                            <hr class="singleline">
                            <div class="order_info d-flex flex-row">
                                <span class="product_options">Available offers</span><br>
                                <p class="product_info" style="margin-top: 12px;"><i class="fas fa-tag"></i><span>Bank Offer 5%</span> Unlimited Cashback on Flipkart Axis Bank Credit CardT&C</p><br> 
                                <p class="product_info"><i class="fas fa-tag"></i><span> Bank Offer 20% </span> off on 1st txn with Amex Network Cards issued by ICICI Bank,SBI Cards and MobikwikT&C</p><br> 
                                <p class="product_info"><i class="fas fa-tag"></i><span> Offer 10%</span> Off on Bank of Baroda Mastercard debit card first time transaction, Terms and Condition applyT&C</p> <br>
                                <p class="product_info"><i class="fas fa-tag"></i><span>Special Price </span> Extra ₹3000 off(price inclusive of discount)T&C</p> <br>
                                <p class="product_info"><i class="fas fa-tag"></i><span> Get 5% </span> instant discount + 10X rewards @ RENTOPC</p> 
                                <form action="#">
                            </div>
                            <div class="row Highligh_product_options" style="padding-left: 16px;">
                                <span class="product_options">Highlights</span><br>
                                <ul>
                                    <li class="_21Ahn-">4 GB RAM | 64 GB ROM</li>
                                    <li class="_21Ahn-">16.54 cm (6.51 inch) HD+ Display</li>
                                    <li class="_21Ahn-">48MP + 8MP + 2MP + 2MP | 8MP Front Camera</li>
                                    <li class="_21Ahn-">6000 mAh Battery</li>
                                    <li class="_21Ahn-">Snapdragon 460 Processor</li>
                                    <li class="_21Ahn-">Stock Android Experience | Think Shield Security</li>
                                </ul>
                            </div>
                            <div class="row seller_product_options Highligh_product_options" style="padding-left: 16px;">
                                <span class="product_options">Seller</span><br>
                                <ul>
                                    <li style="text-transform: uppercase; font-weight: 500; font-family: Roboto,Arial,sans-serif; color: #2874f0; cursor: pointer;">{{phone.vendor}}</li>
                                </ul>
                                <p style="margin-left: 20px;">7 Days Replacement Policy <i class="fal fa-long-arrow-right"></i></p>

                            </div>
                            <div class="row Highligh_product_options" style="padding-left: 16px;">
                                <span class="product_options">Description</span><br>
                                <p style="margin-left: 20px;">{{phone.description}}</p>

                            </div>

                            <div class="br-dashed">
                                <div class="row">
                                    <div class="col-md-9 col-xs-9">
                                        <div class="pr-info"> <span class="break-all"> </span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row row-underline">
                    <div class="col-md-6"> <span class=" deal-text">Combo Offers</span> </div>
                    <div class="col-md-6"> <a href="#" data-abc="true"> <span class="ml-auto view-all"></span> </a> </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="row padding-2">
                            <div class="col-md-5 padding-0">
                                <div class="bbb_combo">
                                    <div class="bbb_combo_image"><img class="bbb_combo_image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924153/alcatel-smartphones-einsteiger-mittelklasse-neu-3m.jpg" alt=""></div>
                                    <div class="d-flex flex-row justify-content-start"> <strike style="color:red;"> <span class="fs-10" style="color:black;">₹ 32,000<span> </span></span></strike> <span class="ml-auto"><i class="fa fa-star p-rating"></i><i class="fa fa-star p-rating"></i><i class="fa fa-star p-rating"></i><i class="fa fa-star p-rating"></i></span> </div>
                                    <div class="d-flex flex-row justify-content-start" style=" margin-bottom: 13px; "> <span style="margin-top: -4px;">₹30,000</span> <span class="ml-auto fs-10">23 Reviews</span> </div> <span>Acer laptop with 10GB RAM + 500 GB Hard Disk</span>
                                </div>
                            </div>
                            <div class="col-md-2 text-center"> <span class="step">+</span> </div>
                            <div class="col-md-5 padding-0">
                                <div class="bbb_combo">
                                    <div class="bbb_combo_image"><img class="bbb_combo_image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924153/alcatel-smartphones-einsteiger-mittelklasse-neu-3m.jpg" alt=""></div>
                                    <div class="d-flex flex-row justify-content-start"> <strike style="color:red;"> <span class="fs-10" style="color:black;">₹ 32,000<span> </span></span></strike> <span class="ml-auto"><i class="fa fa-star p-rating"></i><i class="fa fa-star p-rating"></i><i class="fa fa-star p-rating"></i><i class="fa fa-star p-rating"></i></span> </div>
                                    <div class="d-flex flex-row justify-content-start" style=" margin-bottom: 13px; "> <span style="margin-top: -4px;">₹30,000</span> <span class="ml-auto fs-10">23 Reviews</span> </div> <span>Acer laptop with 10GB RAM + 500 GB Hard Disk</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="margin-left: 36px;">
                                <div class="boxo-pricing-items">
                                    <div class="combo-pricing-item"> <span class="items_text">1 Item</span> <span class="combo_item_price">₹13,200</span> </div>
                                    <div class="combo-plus"> <span class="plus-sign">+</span> </div>
                                    <div class="combo-pricing-item"> <span class="items_text">1 Add-on</span> <span class="combo_item_price">₹500</span> </div>
                                    <div class="combo-plus"> <span class="plus-sign">=</span> </div>
                                    <div class="combo-pricing-item"> <span class="items_text">Total</span> <span class="combo_item_price">₹13,700</span> </div>
                                    <div class="add-both-cart-button"> <button type="button" class="btn btn-primary shop-button">Add to Cart</button> </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-2 text-center"> <span class="vertical-line"></span> </div>
                <div class="col-md-5" style=" margin-left: -27px;">
                    <div class="row padding-2">
                        <div class="col-md-5 padding-0">
                            <div class="bbb_combo">
                                <div class="bbb_combo_image"><img class="bbb_combo_image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924153/alcatel-smartphones-einsteiger-mittelklasse-neu-3m.jpg" alt=""></div>
                                <div class="d-flex flex-row justify-content-start"> <strike style="color:red;"> <span class="fs-10" style="color:black;">₹ 32,000<span> </span></span></strike> <span class="ml-auto"><i class="fa fa-star p-rating"></i><i class="fa fa-star p-rating"></i><i class="fa fa-star p-rating p-rating"></i><i class="fa fa-star p-rating"></i></span> </div>
                                <div class="d-flex flex-row justify-content-start" style=" margin-bottom: 13px; "> <span style="margin-top: -4px;">₹30,000</span> <span class="ml-auto fs-10">23 Reviews</span> </div> <span>Acer laptop with 10GB RAM + 500 GB Hard Disk</span>
                            </div>
                        </div>
                        <div class="col-md-2 text-center"> <span class="step">+</span> </div>
                        <div class="col-md-5 padding-0">
                            <div class="bbb_combo">
                                <div class="bbb_combo_image"><img class="bbb_combo_image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924153/alcatel-smartphones-einsteiger-mittelklasse-neu-3m.jpg" alt=""></div>
                                <div class="d-flex flex-row justify-content-start"> <strike style="color:red;"> <span class="fs-10" style="color:black;">₹ 32,000<span> </span></span></strike> <span class="ml-auto"><i class="fa fa-star p-rating"></i><i class="fa fa-star p-rating"></i><i class="fa fa-star p-rating"></i><i class="fa fa-star p-rating"></i></span> </div>
                                <div class="d-flex flex-row justify-content-start" style=" margin-bottom: 13px; "> <span style="margin-top: -4px;">₹30,000</span> <span class="ml-auto fs-10">23 Reviews</span> </div> <span>Acer laptop with 10GB RAM + 500 GB Hard Disk</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="margin-left: 36px;">
                            <div class="boxo-pricing-items">
                                <div class="combo-pricing-item"> <span class="items_text">1 Item</span> <span class="combo_item_price">₹13,200</span> </div>
                                <div class="combo-plus"> <span class="plus-sign">+</span> </div>
                                <div class="combo-pricing-item"> <span class="items_text">1 Add-on</span> <span class="combo_item_price">₹500</span> </div>
                                <div class="combo-plus"> <span class="plus-sign">=</span> </div>
                                <div class="combo-pricing-item"> <span class="items_text">Total</span> <span class="combo_item_price">₹13,700</span> </div>
                                <div class="add-both-cart-button"> <button type="button" class="btn btn-primary shop-button">Add to Cart</button> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-underline">
                <div class="col-md-6"> <span class=" deal-text">Specifications</span> </div>
                <div class="col-md-6"> <a href="#" data-abc="true"> <span class="ml-auto view-all"></span> </a> </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="col-md-12">
                        <tbody>
                            <tr class="row mt-10">
                                <td class="col-md-4"><span class="p_specification">Sales Package :</span> </td>
                                <td class="col-md-8">
                                    <ul>
                                        <li>2 in 1 Laptop, Power Adaptor, Active Stylus Pen, User Guide, Warranty Documents</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="row mt-10">
                                <td class="col-md-4"><span class="p_specification">Model Number :</span> </td>
                                <td class="col-md-8">
                                    <ul>
                                        <li> 14-dh0107TU </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="row mt-10">
                                <td class="col-md-4"><span class="p_specification">Part Number :</span> </td>
                                <td class="col-md-8">
                                    <ul>
                                        <li>7AL87PA</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="row mt-10">
                                <td class="col-md-4"><span class="p_specification">Color :</span> </td>
                                <td class="col-md-8">
                                    <ul>
                                        <li>Black</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="row mt-10">
                                <td class="col-md-4"><span class="p_specification">Suitable for :</span> </td>
                                <td class="col-md-8">
                                    <ul>
                                        <li>Processing & Multitasking</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="row mt-10">
                                <td class="col-md-4"><span class="p_specification">Processor Brand :</span> </td>
                                <td class="col-md-8">
                                    <ul>
                                        <li>Intel</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </section>
        
            
    {% endblock %}
