{% load static %}
<style>
    .catagory_name i{
        font-size: 10px; 
        margin-left: 3px;
    }
    
.catagory_name:hover i{
    transform: rotate(-180deg);
    transition: 0.5s;
}
</style> 
    <nav class="product_nav" style="height: 42px;">
        <ul class="product-menu owl-carousel">
            <li class="product-list">
                <a class="homer" href="#">
                    <div class="catagory_name ">
                        <span >All Product</span>
                    </div>
                </a>
            </li>
            <li class="product-list">
                <a class="homer" href="{% url 'mobile' None %}">
                    <div class="catagory_name">
                        <span>Mobiles <i class="fas fa-chevron-down"></i></span>
                    </div>
                </a>
            </li>
            <li class="product-list">
                <a class="homer" href="#" >
                    <div class="catagory_name">
                        <span >Laptops</span>
                    </div>
                </a>
            </li>
            <li class="product-list ">
                <a class="homer" href="#">
                    <div class="catagory_name dropdown_cname">
                        <span >Audios  <i class="fas fa-chevron-down"></i></span>
                    </div>
                </a>
            </li>
            <li class="product-list">
                <a class="homer" href="#">
                    <div class="catagory_name">
                        <span >TV & LED</span>
                    </div>
                </a>
            </li>
            <li class="product-list">
                <a class="homer" href="#">
                    <div class="catagory_name dropdown_cname">
                        <span >Appliances <i class="fas fa-chevron-down"></i></span>
                    </div>
                </a>
            </li>
            <li class="product-list">
                <a class="homer" href="#">
                    <div class="catagory_name">
                        <span >Drones & Camera</span>
                    </div>
                </a>
            </li>
            <li class="product-list ">
                <a class="homer" href="#">
                    <div class="catagory_name dropdown_cname">
                        <span >Accesories <i class="fas fa-chevron-down"></i></span>
                    </div>
                </a>
            </li>               
        </ul>
    </nav>