<!DOCTYPE html>
{% extends 'electroApp/base.html' %}

    {% block link_css%} 
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/user.css' %}">

    {% endblock%}

    {% block title %} {% endblock %}


    {% block page_body %}
        <h3 class="text-center">Enter OTP sent to your number {{phone}}</h3>
        <form action="{% url 'verifyotp' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="otp">
            <input type="Submit" value="verifyOtp">


        </form>
        
            
    {% endblock %}
