{% for mobile in mobiles%}
	<div class="Product_column">
		<div class="Product_column_inner">
		    <a href="{% url 'Product_Detail' mobile.id %}" style="text-decoration: none;">
			    <div class="men-Product-item text-center">
					<img src="{{mobile.image.url}}" alt="">
				</div>
			</a>
			
			<div class="product_item-info text-center border-top">
                <h4 style="color: #878787; cursor: text;font-size: 14px; font-weight: 500; font-family: Roboto,Arial,sans-serif;">
                    {{mobile.brand}}
                </h4>
                <h4 class="" style="margin-top: -3px; font-size: 17px;">
                    <a href="{% url 'Product_Detail' mobile.id %}">{{mobile.title}}</a>
                </h4>
                <div class="product-price_info">
                    <span class="item_price">{{mobile.selling_price}}</span>
                    <del>{{mobile.MRP}}</del>
                    <span style="font-size: 13px; color: #388e3c; font-weight: 600;">{{product.discount}}% off</span>
                </div>
			</div>    
		</div>
	</div>
{% endfor %}