.product_main_row{
    padding-left: 7px;
    padding-right: 7px;
}
.filter_column{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 20%;
    margin-right: 5px;
    float: left;
}
.filter_column h3{
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-top: 0px;
    padding: 15px 18px;
    font-size: 21px;
    font-family: Roboto,Arial,sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.max_min_range input{
    width: 70px;
}
.filter_column .side-bar{
    padding: 10px 0px;
}
.border-bottom{
    padding-bottom: 20px ;
}
.filter_column .filter_title{
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 17px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    cursor: pointer;
    background-color: #eceff1;
}
.filter_column .filter_title span{
    font-size: 14px;
    color: #212121;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
}
.filter_column .filter_title i{
    font-size: 13px;
    font-weight: 400;
    color: #0d66eb;
    float: right;
}
.w3l-range{
    display: none;
    margin-top: 10px;
}
.displayNone{
    display: none;
}
#Product_search{
    padding: 0px 10px;
}
.filter_column .search-product input[type="search"]{
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 3px;
    height: 35px;
    width: 85%;
    outline: none;
    border-radius: 0px;
    box-sizing: border-box;

}
.filter_column ul{
    padding: 10px 17px;
}
.filter_column ul li{
    padding: 3px 0px;
    margin-top: 2px;
    vertical-align: middle;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    cursor: pointer;
}
.filter_column ul li span{
    margin-left: 7px;
    font-size: 14px;
}
.search-product input[type="submit"]{
    width: 15%;
    font-size: 14px;
    padding: 8px 3px;
    border-radius: 0px;
    height: 35px;
    margin-left: -4px;
    position: relative;
    color: white;
    background-color: #0879c9;
    border: none;
    outline: none;
}
.search-product input[type="submit"]:hover{
    background-color: rgb(0, 0, 0);
}

.Product_column_main{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 79.5%;
    float: right;

}
.Product_row{
    width: 99%;
    margin: 20px 10px;
    padding: 20px 5px;
}
.Product_column{
    width: 24.5%;
    height: 370px;
    overflow: hidden;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid #dbdbdb;
}
.men-Product-item img{
    height: 240px;
}
.heading-tittle_product{
    
    margin: 5% auto;
    padding:20px;
    font-family: italic;
}

.box{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    
  }
.heading-tittle_product h3{
    opacity: 1;
    color: #111845;
    margin-top: 0px;
    border:1px solid #f0a591;
    padding: 15px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5); 
  }
.heading-tittle_product span{
    color: #0879c9;

  }
.product_item-info{
    height: 130px;
    text-align: center;
    text-decoration: none;
    padding: 0px 3px 2px 3px;
    line-height: 13px;
}
.product_item-info a{
    text-decoration: none;
  }
.product-price_info span{
    font-size: 15px;
  font-weight: 500;
  font-family: Roboto,Arial,sans-serif;
  color: #212121;;
}
.product-price_info del{
    font-weight: 300;
  margin-left: 3px;
  font-size: 13px;
  color: #878787;
}
.Product_column_inner{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
ul li{
    list-style: none;
}
