
  
  /* Add a background color when the inputs get focus */

  
  /* Set a style for all buttons */
  .stop-scrolling {
	height: 100%;
	overflow: hidden;
}
  
  button:hover {
	opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
	padding: 14px 20px;
	background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
	float: left;
	width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
	padding: 16px;
  }
  
  /* The Modal (background) */
  .modal {
	padding-top: 18px;
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgba(0,0,0,.6);
  }
  
  /* Modal Content/Box */
.modal-content {
	height: 530px;
	background-color: #fefefe;
	display: flex;
	flex-direction: row;
	margin: 45px auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: none;
	border-radius: 2px;
	width: 49%; /* Could be more or less, depending on screen size */
  }

.SignUPmodelLeft{
	background-color: #242e47;
	/*background-image: url("../image/computer-laptop-work-place-camera-705164.jpeg"); */
	background-position: center 100%;
    background-repeat: no-repeat;
	background-size: contain;
	width: 40%;
	box-sizing: border-box;
	line-height: 20px;
	color: #f1f1f1;
	height: 100%;
	overflow: hidden;
  }
  .SignUPmodelLeft .text{
	padding: 32px 30px 0px;
	height: 40%;
	width: 100%;
  }
  .SignUPmodelLeft .SvG{
	  height: 60%;
	  width: 100%;
	  overflow: hidden;
	  position: relative;
	  bottom: 0;
  }
  .SignUPmodelLeft .beaker {
	display: block;
	width: 15rem;
  	margin: 10px auto 0;
	
  }
  .table {
	background-color: #F9F9F9;
	position: absolute;
	bottom: 0;
	height: 2rem;
	width: 100%;
	margin-bottom: 0px;
	

  }
  /*.test-tube {
	position: absolute;
	top: 42rem;
	left: 3%;
	width: 3rem;
  } */
.SignUPmodelRight{
	padding: 35px 33px;
	width: 60%;
	height: 100%;
}
.SignUPmodelLeft p{
	margin-top: 20px;
	font-size: 18px;
	color: #dbdbdb;;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 150%;
}
.SignUPmodelLeft h4{
	text-align: left;
	font-size: 28px;
	font-weight: 500;
}
.modal .inputfield{
	position: relative;
	padding: 1px 0;
	line-height: 100%;
	margin-top: 2px;

}
.modal form label{
	font-size: 16px;
	color: #757373;
	font-weight: 400;
	top: 0;
	font-family:Georgia, 'Times New Roman', Times, serif;
	transform: translateY(30px);
	transition: all 0.4s;
	cursor: text;
	z-index: -1;
      
}
.SignUPmodelRight form{
	display: block;
	height: 100%;
	width: 100%;
}
.SignUPmodelRight input:not([type=submit]){
    background: none;
	margin-top: 0px;
	font-size: 16px;
	font-weight: 400;
	font-family: italic;
    outline: none;
    border: none;
    display: block;
    padding: 9px 0;
    width: 100%;
	letter-spacing: 1px;
    border-bottom: 1px solid rgb(170, 168, 168);
    color: black;
    z-index: 1;
}
/*.SignUPmodelRight input:not([type=submit]):focus{
	border-bottom: 2px solid rgb(11, 232, 11);

	
} */
.SignUPmodelRight input[type=submit]{
	width: 100%;
	background-color: #fb641b;
	outline: none;
	color: #f1f1f1;
	border: none;
	height: 45px;
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0px;
}
.forExistingUser{
	height: 50px;
	display: flex;
	bottom: 2%;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
	font-weight: 600;
	font-size: 15px;
	font-family: italic;
	align-items: center;
	text-decoration: none;
	justify-content: center;
	color: #2874f0;;
}
.forExistingUser a{
	text-decoration: none;
}
  /* The Close Button (x) */

  .close {
	position: absolute;
	z-index: 1;
	right: 22.5%;
	margin-top: 42px;
	opacity: 1;
	font-size: 32px;
	font-family: 'open sans',arial,sans-serif;
  	font-weight: lighter;
	color: white;
	
  }
  .close:hover,.close:focus{
	  color: white;
	  opacity: 1;
	  cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
	content: "";
	clear: both;
	display: table;
  }
.error{
	color: #ff6161;
	font-size: 12px;
	font-weight: 500;
	margin-top: 2px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0;
  }
  #VerificationOTP{
	  display: none;
  }

  /* ########################################################################For Snackbar################################################ */
  #snackbar {
	visibility: hidden;
	min-width: 250px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1000;
	left: 50%;
    transform: translate3d(-50%,0,0) !important;
	bottom: 85px;
	font-size: 17px;
  }
.fa-check-circle{
	border-radius: 20px;
	background-color: #333;
	color: rgb(19, 212, 19);
	font-size: 21px;
	margin-right: 10px;
	margin-top: 2px;
	font-weight: 100;
  }
.fa-exclamation-circle{
	border-radius: 20px;
	background-color: #333;
	color: rgb(250, 13, 13);
	font-size: 21px;
	margin-right: 10px;
	margin-top: 2px;
	font-weight: 100;

  }
  #snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 1.5s, fadeout 1.5s 3.5s;
	animation: fadein 1.5s, fadeout 1.5s 3.5s;
  }
  
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 85px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 85px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 85px; opacity: 1;} 
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 85px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  /* ########################################################################End Snackbar###########################################*/


  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
	.cancelbtn, .signupbtn {
	   width: 100%;
	}
  }

  @media only screen and (max-width: 765px) and (min-width: 600px) {
	.modal-content {
		height: 480px;
		margin-top: 60px;
		width: 72%; /* Could be more or less, depending on screen size */
	  }
	  .close {
		font-size: 22px;
		margin-top: 55px;
		right: 11%;

	}
	.SignUPmodelRight h4{
		float: left;
		margin-bottom: 45px;

	}
  }
  @media only screen and (max-width: 1120px) and (min-width: 766px){
	.modal-content {
		height: 500px;
		margin-top: 60px;
		width: 60%; /* Could be more or less, depending on screen size */
	  }
	  .close {
		font-size: 27px;
		margin-top: 55px;
		right: 17%;

	}

  }

  @media only screen and (max-width: 600px){

	.modal-content {
		height: 470px;
		margin-top: 50px;
		width: 80%; /* Could be more or less, depending on screen size */
	  }
	  .SignUPmodelLeft{
		  display: none;
	  }
	  .SignUPmodelRight{
		  width: 100%;
		  height: 100%;
		  padding: 10px 20px;

	  }
	  .SignUPmodelRight h4{
		  float: left;
		  margin-bottom: 10px;

	  }
	  .SignUPmodelRight input:not([type=submit]){
		background: none;
		font-size: 16px;
		font-weight: 400;
		margin-top: 2px;
		font-family: italic;
		outline: none;
		border: none;
		display: block;
		padding: 10px 0;
		width: 100%;
		letter-spacing: 1px;
		border-bottom: 1px solid rgb(170, 168, 168);
		color: #444;
		z-index: 1;
	  }
	#OTPsentForm{
		margin-top: 50px;
	}

	  .close {
		  font-size: 22px;
		  margin-top: 55px;
		  right: 4%;

	  }
	  .SignUPmodelRight input[type=submit]{
		width: 100%;
		outline: none;
		color: #f1f1f1;
		border: none;
		height: 35px;
		margin-top: 15px;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0px;
	}
	.forExistingUser{
		height: 30px;
		display: flex;
		box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
		margin-top: 7px;
		font-weight: 600;
		font-size: 12px;
		align-items: center;
		text-decoration: none;
		justify-content: center;
		color: #2874f0;;
	}
}



/* User Profile */
.User_left_column{
	width: 22%;
	height: 700px;
	margin-top: 7px;
	background-color: #272c33;
	float: left;
}
.Profile_header{
	/*border-bottom: 1px solid #4e4e52;  */
	height: 75px; 
	display: flex;
	padding: 10px 22px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
.Profile_header .profile_icon {
	display: inline-block;
}
.profile_icon ul{
	list-style: none;
	display: flex;
	padding: 10px 5px;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.profile_icon ul li{
	margin-top: 10px;
	margin-left: 35px;
	font-size: 18px;
	position: relative;
}
.profile_icon ul li a{
	color: #8b939b;
	text-decoration: none;

}
.profile_icon ul li span{
	border-radius: 50%;
    font-size: 11px;
    height: 15px;
	line-height: 17px;
    width: 15px;
	color: white;
	margin-top: -7px;
    top: 0;
    position: absolute;
}
.User_left_column .profile-picture{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 3px solid #50597b;
	overflow: hidden;
	cursor: pointer;

}
.profile-picture img{
	object-fit: cover;
}
.User_left_body{
	margin-top: 5px;
	padding: 5px 22px;
}
.User_left_body > ul > li{
	color: #9496a1;
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
	font-family: open sans;
    font-size: 16px;
    font-weight: 600;
	margin-top: 30px;
    line-height: 50px;
	border-bottom: 1px solid #4e4e52;
}
ul li{
	list-style: none;
}
.User_left_body ul li a{
	text-decoration: none;
	color: #9496a1;
	word-spacing: 3px;

}
.User_left_body ul li i{
	color: #13ee0f87;
	margin-right: 15px;
}
.right_arrow{
	float: right; 
	margin-top: 17px;
	animation: updown 1s ease infinite;
}
@keyframes updown {
	0% {
	  transform: translateX(-100%);
	}
  
	50% {
	  transform: translateX(100%);
	}
  
	100% {
	  transform: translateX(-100%);
	}
  }

.User_left_body h4{
	border-bottom: 1px solid #4e4e52;
    line-height: 50px;
	font-size: 16px;
	font-weight: 600;
}


.User_Right_column{
	width: 77%;
	height: 100%;
	float: right;
	padding: 20px 5px;
	margin: 7px 5px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

	
}
.User_Right_column .show{
	padding-right: .6em;
	padding-left: .6em; 
	font-family: open sans sans-serif!important; 
	font-size: 16px;
}
.User_Right_column .show button{
	font-size: 25px;
	background-color: transparent;
	float: right;
	border: none;
	margin-top: -8px;
}

/* for Manage Address */

.add_new_address{
	border: 1px solid #e0e0e0 ;
	font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
}
.add_address_inner{
	padding: 16px 17px;
	font-size: 14px;
    color: #2874f0;
	cursor: pointer;
	font-family: Roboto,Arial,sans-serif;
	font-weight: 500;


}
.address_detail{
	margin-top: 20px;
	padding: 13px 20px;
	border: 1px solid #cccbcb;
	line-height: 20px;

}
.address_type{
	text-transform: uppercase;
    font-size: 12px;
    color: #575555;
    vertical-align: middle;
    padding: 2px 8px;
    border-radius: 2px;
    background-color: #f0f0f0;
    font-weight: 500;
    margin-right: 15px;
	width: 53px;
}
.address_detail span{
	color: #212121; 
	font-family: Roboto,Arial,sans-serif; 
	font-weight: 500;
}
.edit_delete i{
	font-size: 21px;
	border-radius: 50%;
	padding: 6px 13px;
	float: right;
	cursor: pointer;
}
.edit_delete_link{
	padding: 7px 17px; 
	margin-right: 20px;
	display: none;
	position: absolute;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.edit_delete_link a{
	text-decoration: none;
	color: #212121;
	font-family: Roboto,Arial,sans-serif; 
	font-weight: 400;
	line-height: 35px;
}
.hover_icon:hover .edit_delete_link{
	display: block;
}
.hover_icon{
	position: relative;
}


/* for Empty Cart */
.EmptyCart .empty-cart{
  width: 38vw;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-family: Roboto,Arial,sans-serif;

}

.EmptyCart svg{
  max-width: 60%;
  margin-top: 60px;
  padding: 3rem 3rem;
}
  
#oval, #plusSvg, #diamond, #bubble-rounded{
    animation: plopp 4s ease-out infinite;
}
    
  
#bg-line:nth-child(2){
      fill-opacity: .3;
	}
#bg-line:nth-child(3){
      fill-opacity: .4;
  }
@keyframes plopp{
  0%{
    transform: translate(0, 0);
    opacity: 1;
  }
  100%{
    transform: translate(0, -10px);
    opacity: 0;
  }
}
    
.EmptyCart h3{
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
  
.EmptyCart p{
  max-width: 80%;
  font-weight: 400;
  font-size: 12px;
  margin: 1.25rem auto 0 auto;
}
.EmptyCart_inner{
	margin: 90px 70px 25px 70px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
.EmptyCart_inner button{
	padding: 11px 55px;
	background-color: #2874f0;
	border: none;
	color: white;
	font-size: 15px;
	font-weight: 300;
	margin: 20px auto 40px;
}